* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

path.leaflet-interactive:focus {
    outline: none !important;
}

header {
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: #13537d;
    color: white;
    display: block;
    position: absolute;
    align-items: center;
    padding: 0 5%;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;

}
header #hamburger {
    margin-left: auto;
}

.container {
    display: flex;
    flex: 1;
    transition: all 0.2s ease-in-out;
}

#info {
    background-color: #e1e1e1;
    padding: 0;
    transition: all 0.2s ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;
    border-right: 2px solid #444444;
    position: relative;
    height: 100%;
}

#sights {
    width: 100%;
    height: 100vh;
    padding: 12% 3% 25% 3%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#info figure {
    width: 100%;
    position: relative;
    display: block;
}
#info figure img {
    width: 100%;
    clear: both;   
    margin: 3% 0;
    border: none;
    border-radius: 16px;
}

#info figure figcaption.credit {
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-size: 0.8rem;
    line-height: 1.3rem;
    position: absolute;
    bottom: 5%;
    height: 33%;
    padding: 4% 12% 0 4%;
    border-radius: 0 0 16px 16px;
    display: none;
    -webkit-user-select: none;
    user-select: none; 
}
#info figure figcaption.credit a {
    color: white !important;
    text-decoration: underline;
}
#info figure a.show-credit {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url('../assets/icon-camera.png');
    background-size: 65% auto;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 2%;
    bottom: 7%;
    -webkit-user-select: none;
    user-select: none; 
    cursor: pointer;
}
#info 

#map {
    background-color: #f1f1f1;
    padding: 20px;
    transition: all 0.2s ease-in-out;
    overflow-y: hidden;
    position: relative;
    height: 100vh;
}

h2 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;    
    line-height: 1.8rem;
    font-size: 1.4rem;
    margin: 2% auto 3% auto;
    color: #444;
}

p {
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 500;
    color: #444;
}

.marker-box {
    display: flex;
    align-items: left;
    padding: 0;
    column-gap: 2%;
    background-color: #f1f1f1;
    padding: 2%;
    border-radius: 16px;
    margin: 3% auto;
}
.marker-box .leaflet-marker-icon {
    position: relative;
    left: auto;
    top: auto;
    margin: 25% auto 0 auto;
    width: 35px;
    height: 45px;
    outline-style: none;
    box-sizing: content-box;
}
.marker-box .marker-line {
    flex: 1;
    text-align: center;
    background-image: none;
    background-repeat: repeat-y;
    background-position: center;
    background-size: 8% auto;
    padding: 0;
}
.marker-box:last-child .marker-line {
    background-image: none;
}
.marker-box .marker-meta {
    flex: 9;
    padding: 2% 3% 5% 0;
}
.marker-box p.note {
    font-weight: 600;
    font-style: italic;
    padding: 4%;
    background-color: #e4dbd0;
    border-radius: 10px;
    line-height: 1.7rem;
    margin: 2% auto;
}

#about,
#close,
#about-close {
    cursor: pointer;
    font-size: 1.4rem;
    display: block;
    position: absolute;
    top: 1px;
    right: 10px;
    z-index: 1;
    display: inline-block;
    text-align: center;
    padding: 8px 13px 6px 13px;
    background-color: #13537d;
    color: white;
}
#close,
#about-close {
    font-size: 1.6rem;
    padding: 5px 15px 4px 11px;
    display: none;
    z-index: 2;
}

h2#this-walk {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none; 
}
h2#this-walk span#walk-down {
    display: inline-block;
}
h2#this-walk span#walk-up {
    display: none;
}
ul#walk-list {
    color: white;
    list-style-type: none;
    width: 100%;
    font-size: 1.0rem;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}
ul#walk-list li {
    border-top: 1px solid white;
    width: 100%;
    padding: 5% 4%;
    -webkit-user-select: none;
    user-select: none; 
}
ul#walk-list li img {
    width: 16%;
    height: auto;
    display: block;
    float: left;
    border-radius: 6px;
    margin: 0 5% 0 0;
}
ul#walk-list li h3 {
    font-size: 1.1rem;
    color: white;
}
ul#walk-list li p {
    font-size: 0.9rem;
    color: white;
}
ul#walk-list li:hover {
    background-color: #2a93ee;
    cursor: pointer;
}
ul#walk-list li.current,
ul#walk-list li.current:hover {
    cursor: auto;
    opacity: 0.5;
    background-color: transparent;
}
ul#walk-list.open {
    max-height: 1200px;
}
#about-content {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e1e1e1;
    padding: 0 4% 10% 4%;
    z-index: 10;
}
#about-content h1,
#about-content h2, 
#about-content p {
    color: #222222;
}
#about-content p a {
    color: #13537d;
}
#about-content h1 {
    margin-top: 10%;
}
#about-content h2 {
    margin-top: 7%;
    line-height: 1.4rem;
}
#about-content p {
    margin-top: 3%;
}
#about-content p a {
    font-weight: 600;
}
#about-close-bar {
    width: 110%;
    height: 50px;
    margin: -5% 0 0 -5%;
    padding: 0;
    background-color: #13537d;
    top: 0;
    left: 0;
    position: sticky;
    display: block;
    color: white;
}
#about-close {
    display: block;
    color: white;
    padding: 5px 15px 4px 11px;
}
#walk-intro {
    padding: 0;
    width: 100%;
    clear: both;
    float: none;
    display: block;
    background-color: #c4d0ab;
    padding: 2% 4%;
    border-radius: 16px;
    margin: 3% auto;
}
#walk-intro p.distance {
    font-size: 0.9rem;
    color: black;
    font-weight: 600;
}
#walk-intro p.summary {
    font-size: 1.0rem;
    font-style: italic;
}

/* desktop (default) */
@media (min-width: 769px) {
    .container {
        flex-direction: row;
    }

    #info {
        width: 33%;
        height: 100%;
        overflow-y: scroll;
    }

    #info img {
        width: 100%;
        clear: both;
        margin: 2% 0;
        border: none;
    }

    #map {
        width: 70%;
        height: 100%;
    }
}

/* mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    #info {
        width: 100%;
        border-right: none;
        border-top: 2px solid #444444;
        padding: 0; 
        flex: 5;
    }

    #map {
        width: 100%;
        flex: 3;
    }

    #sights {
        width: 100%;
        padding: 12% 4% 60vh 4%;
    }

    #info figure img {
        width: 100%;
        margin-top: 0;
        display: block;
    }

    #about-content {
        height: 66vh;
        padding-bottom: 30%;
        margin-bottom: 0;
    }

    #info figure a.show-credit {
        bottom: 3%;
    }
    #info figure figcaption.credit {
        bottom: 0;
        height: 45%;
    }

    p {
        font-size: 18px;
    }

    h2 {
        margin-bottom: 3%;
    }
}